.content{
	padding-bottom: 3em;
	padding-top: 3em;
	text-align: center;
}

.header{
	text-align: center;
	padding: 1em;
	background-color: lightblue;
	font-size: 40px;
}

.users-name{
	padding: 5px;
	font-weight: 900;
}

.users-email{
	padding-bottom: 5px;
}

.users-company{
	padding-bottom: 5px;
}

.buttons{
	padding: 5px;
}

.album-titles{
	padding: 10px;
}

.todo-titles{
	padding-top: 15px;
}

.dark-bg{
	background-color: black;
	color: white;
}