@font-face {
font-family: "Arimo Regular";
src: url("arimo-regular-webfont.eot");
src: 
url("arimo-regular-webfont.woff") format("woff"),
url("arimo-regular-webfont.woff2") format("woff2"),
url("arimo-regular-webfont.ttf") format("ttf");
}

html {
font-family: 'Arimo Regular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}

header{
	padding: 15px;
	text-align: center;
	background-color: black;
}

a{
	padding: 15px;
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.Top{
	padding: 30px;
	font-size: 60px;
	box-sizing: border-box;
	color: black;
	text-align: center;
	background-color: lightgray;
}

label{
	display: block;
	text-align: left;
	padding: 1em 0 5px;
}

.Entries{
	width: 100%;
	margin: 0 auto;
	background-color: lightgray;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

form{
	max-width: 60%;
	margin: 0 auto;
}

.Names{
	display: inline-block;
}

input, select, textarea{
	width: 100%;
	box-sizing: border-box;
	border: 2px white solid;
	border-radius: 5px;
	padding: 0.5em;
	color: blue;
}

textarea{
	height: 200px;
	resize: none;
}

input:focus, select:focus, textarea:focus{
	outline: none;
}

input[type = "submit"]{
	width: auto;
	padding: 10px 20px;
	background-color: white;
	opacity: 1.0;
	color: black;
}

input[type = "submit"]:hover{
	opacity: 0.5;
	transition: opacity 1s ease;
	color: white;
	background-color: black;
	cursor: pointer;
}

input[type = "submit"]:active{
	transform: scale(1.5);
}

input::placeholder, textarea::placeholder{
	font-family: 'Arimo Regular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	color: blue;
}

.dark-bg{
	background-color: gray;
	color: black;
	padding: 20px;
}

.light-bg{
	background-color: white;
	color: black;
	padding: 20px;
}

.topContent{
	padding: 40px;
	font-size: 50px;
	background-color: lightgray;
}

.choices{
	text-align: center;
	padding: 20px;
}

.timeTitle{
	font-size: 50px;
	padding: 25px;
}

.timeButtons{
	display: inline-block;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	margin: 6px;
	background-color: lightgray;
	opacity: 1.0;
	transition: opacity 1s ease;
}

.timeButtons:hover{
	cursor: pointer;
	text-decoration: underline;
	opacity: 0.25;
	transition: opacity 1s ease;
}

.timeButtons:active{
	background-color: black;
	color: white;
}

.highSchool{
	height: 300px;
	padding: 20px;
	text-align: center;
	background: url(kentwood.jpg) center center fixed;
	background-size: cover;
	color: white;
}

.college{
	height: 300px;
	padding: 20px;
	text-align: center;
	background: url(gonzaga.jpg) center center fixed;
	background-size: cover;
	color: white;
}

.job{
	height: 300px;
	padding: 20px;
	text-align: center;
	background: url(kaiser.jpg) center center fixed;
	background-size: cover;
	color: white;
}

.sectionTitle{
	font-weight: 900;
	font-size: 50px;
}

.info{
	font-weight: 900;
}

.gallery{
	text-align: center;
	font-size: 50px;
	padding: 20px;
}

.theGallery{
	padding: 30px;
}

.Group1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 5px;
}

.Group2{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5px;
	justify-content: space-around;
}

.Group3{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 5px;
}

.images:hover{
	transform: scale(2);
}

.markerInfo{
	background-color: lightgray;
	padding: 20px;
}

.markerInfo h4{
	font-weight: 900;
	font-size: 30px;
	padding: 10px;
}

.markerInfo p{
	padding: 10px;
}

#contactInformation{
	padding: 20px;
	text-align: center;
}

.contactName{
	font-size: 2em;
	font-weight: 900;
}

#line{
	display: inline-block;
}

.Footer{
	text-align: center;
}